{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
     <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
            <h2>Choose Filtering information</h2>
          </div>
        </div>
        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">
          <form action="allNodesByState_result" method="POST">
            <!--Choice period-->
            <h2>Choose Period:</h2>
            <br><br>
            From: <input type="date" name="from_user_date" />
            &nbsp &nbsp
            To: <input type="date" name="to_user_date" />
            <br><br><br><br>
            <button type="submit" class="templatemo-blue-button">Search</button>
          </form>
        </div>

  {% endblock%}