{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}

    <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
            <h2>Choose Filtering Information</h2>
          </div>
        </div>
        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">
          <form action="chartbynode" method="post">
            <!--Choice period-->
            <h2>Choose Period:</h2>
            <br><br>
            From: <input type="date" name="from_user_date" />
            &nbsp &nbsp
            To: <input type="date" name="to_user_date" />
            <br><br><br><br><br><br>
            <!--Choose attribute-->
            <h2>Choose Option:</h2>
            <br><br>
            <div class="col-lg-6 col-md-6 form-group">
              <div>

                <div class="templatemo-block margin-bottom-5">
                  <input type="radio" name="num_cus" id="r1" value="value1" checked="">
                  <label for="r1" class="font-weight-400"><span></span>Client Volume</label>
                </div>
                <div class="templatemo-block margin-bottom-5">
                  <input type="radio" name="num_cus" id="r2" value="value2">
                  <label for="r2" class="font-weight-400"><span></span>Subtotal Information</label>
                </div>

              </div>
            </div>
            <br><br><br><br><br>
            <button type="submit" class="templatemo-blue-button">Search</button>
          </form>
        </div>


  {% endblock%}