{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<title>Metabolomics Australia - Home</title>

	<meta name="description" content="">
	<meta name="author" content="templatemo">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">


</head>
<body>
	<!--main page-->
	<div class="templatemo-flex-row">
		<!--=======================left side1.1========================-->
		<div class="templatemo-sidebar">
			<!--left_header-->
			<header class="templatemo-site-header">

				<h1>Metabolomics Australia Database</h1>
			</header>
			<!--left_image-->
			<div class="profile-photo-container">
              <img src="{% static 'images/profile-photo.jpg' %}" alt="MA Photo" class="img-responsive">
			</div>
			<br><br><br>
			<!--mobile_MouseChangeToFinger-->
			<div class="mobile-menu-icon">
				<i class="fa fa-bars"></i>
			</div>
			<!--left_navigation-->
			<nav class="templatemo-left-nav">          
				<ul>
					<li><a href="#" class="active"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
					<li><a href="data-visualization.html"><i class="fa fa-info fa-fw"></i>Quote Information</a></li>
					<li><a href="maps.html"><i class="fa fa-money fa-fw"></i>Invoice Information</a></li>
					<li><a href="data-visualization.html"><i class="fa fa-search-plus fa-fw"></i>Search</a></li>
					<li><a href="import.html"><i class="fa fa-upload fa-fw"></i>Import</a></li>
					<li><a href="login.html"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
				</ul>  
			</nav>
		</div>
		<!--=======================right side1.2========================-->
		<div class="templatemo-content col-1 light-gray-bg">
			<!--Top 1.2.1-->
			<div class="templatemo-top-nav-container">        
				<div class="white-bg col-1 text-center">
                   <img src="{% static 'images/MA.png' %}" alt="MA" class="img-circle img-thumbnail" height="200" width="280">
				</div>        
			</div>
			<!--body(main) except top 1.2.2-->
			<div class="templatemo-content-container">
				<!--main_body_info-->
				<div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
					<i class="fa fa-times"></i>
					<div class="panel-heading templatemo-position-relative">
						<h2>SPREADSHEET INFORMATION</h2>
					</div>
				</div>

				<!--main_body_info_chosse-->
				<div class="templatemo-content-widget white-bg">
					<form enctype="multipart/form-data" action="read_invoice" method="post">

						<label class="control-label">Select a file</label>
						<input type="file" name="excel" id="fileToUpload" class="margin-bottom-10">
						<br>
						<label class="control-label">Select a sheet</label>
						<input type="text" name="sheet" class="form-control" id="sheet">
						<br>
						<label class="control-label">From row</label>
						<input type="text" name="from_row" class="form-control" id="row">
						<br>
						<label class="control-label">To row</label>
						<input type="text" name="to_row" class="form-control" id="torow">

						<br><br><br><br>
						<button type="submit" class="templatemo-blue-button">Import</button>

					</form>

				</div>
			</div>

		</div>
	</div>

</body>
</html>