{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
     <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
          <h2>CHOOSE SPREADSHEET</h2>
          </div>
        </div>

        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">
          <h2> Choose Type of Spreadsheet:</h2>
          <br><br>
          <a  href = "import_project" class="btn btn-default templatemo-view-img-btn">Import "Project" Spreadsheet</a>
          <br><br><br>
                  <a  href = "import_quote" class="btn btn-default templatemo-view-img-btn">Import "Quote" Spreadsheet</a>
                  <br><br><br>
                  <a  href = "import_invoice" class="btn btn-default templatemo-view-img-btn">Import "Invoice" Spreadsheet</a>
        </div>


  {% endblock%}