{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
    <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
            <h2>SPREADSHEET INFORMATION</h2>
          </div>
        </div>

        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">
          <form enctype="multipart/form-data" action="read_project" method="post">

            <label class="control-label">Select a file</label>
            <input type="file" name="excel" id="fileToUpload" class="margin-bottom-10">
            <br>
            <label class="control-label">Select a sheet</label>
            <input type="text" name="sheet" class="form-control" id="sheet">
            <br>
            <label class="control-label">From row</label>
            <input type="text" name="from_row" class="form-control" id="row">
            <br>
            <label class="control-label">To row</label>
            <input type="text" name="to_row" class="form-control" id="torow">

            <br><br><br><br>
            <button type="submit" class="templatemo-blue-button">Import</button>

          </form>

        </div>


  {% endblock%}