{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}

    {% if state == 'success' %}
    <div class="templatemo-content-widget pink-bg">
                <i class="fa fa-times"></i>
                <h2 class="text-uppercase margin-bottom-10" style=" text-align:center;">Succeessful Upload!</h2>
                <br><br><br>
                <p style="text-align: center"><a href="index.html" class="margin-bottom-10" style="color:#FFFFFF"> Return homepage</a></p>

	</div>
    {% endif %}

    {% if state == 'fail' %}
     <div class="templatemo-content-widget pink-bg">
                <i class="fa fa-times"></i>
                <h2 class="text-uppercase margin-bottom-10" style=" text-align:center;">Fail upload, because {{error_message}}</h2>
                <br><br><br>
                <p style="text-align: center"><a href="{% url 'import_page' %}" class="margin-bottom-10" style="color:#FFFFFF"> Return import page</a></p>
	 </div>
     {% if table == 'project' %}
     <!--table-->
                <div class="col-1">
                    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
                        <i class="fa fa-times"></i>
                        <div class="panel-heading templatemo-position-relative"><h2>Correct spreadsheet format</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                  <!--display data colum by column-->
                                  <tr>
                                    <td>Node</td>
                                    <td>AWRI</td>
                                  </tr>

                                  <tr>
                                    <td>Date</td>
                                    <td>29/07/2016</td>
                                  </tr>

                                  <tr>
                                    <td>Project</td>
                                    <td>Aribidopsis stem waxes</td>
                                  </tr>

                                  <tr>
                                    <td>Service</td>
                                    <td>Targeted</td>
                                  </tr>

                                  <tr>
                                    <td>Instrument</td>
                                    <td>GCMS</td>
                                  </tr>

                                  <tr>
                                    <td>Person</td>
                                    <td>He Jie</td>
                                  </tr>

                                  <tr>
                                    <td>Organisation</td>
                                    <td>Institute 1</td>
                                  </tr>

                                  <tr>
                                    <td>No. samples*</td>
                                    <td>36</td>
                                  </tr>

                                  <tr>
                                    <td>Category</td>
                                    <td>5</td>
                                  </tr>

                                  <tr>
                                    <td>Int/Ext</td>
                                    <td>Int</td>
                                  </tr>

                                  <tr>
                                    <td>State</td>
                                    <td>SA</td>
                                  </tr>

                                  <tr>
                                    <td>Country</td>
                                    <td>Australia</td>
                                  </tr>


                                  <tr>
                                    <td>User_Define1</td>
                                    <td>PRDC</td>
                                  </tr>

                                  <tr>
                                    <td>User_Define2</td>
                                    <td>LIF/FOO</td>
                                  </tr>

                                  <tr>
                                    <td>Subtotal</td>
                                    <td>480</td>
                                  </tr>

                                  <tr>
                                    <td>Cus_count</td>
                                    <td>2</td>
                                  </tr>


                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
       {% endif %}

       {% if table == 'quote' %}
     <!--table-->
                <div class="col-1">
                    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
                        <i class="fa fa-times"></i>
                        <div class="panel-heading templatemo-position-relative"><h2>Correct spreadsheet format</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                  <!--display data colum by column-->
                                  <tr>
                                    <td>Quote</td>
                                    <td>BioSci0439</td>
                                  </tr>

                                  <tr>
                                    <td>Year</td>
                                    <td>16</td>
                                  </tr>

                                  <tr>
                                    <td>Version</td>
                                    <td>_v2</td>
                                  </tr>

                                  <tr>
                                    <td>CONCATENATE</td>
                                    <td>=CONCATENATE(A19,"_",B19,"",C19)</td>
                                  </tr>

                                  <tr>
                                    <td>Client</td>
                                    <td>Mahmoud Bassal_Prof Richard D'Andrea</td>
                                  </tr>

                                  <tr>
                                    <td>Company</td>
                                    <td>University of South Australia</td>
                                  </tr>

                                  <tr>
                                    <td>Staff</td>
                                    <td>Siria Natera</td>
                                  </tr>

                                  <tr>
                                    <td>Date</td>
                                    <td>19/07/2016</td>
                                  </tr>

                                  <tr>
                                    <td>Value</td>
                                    <td>4900.5</td>
                                  </tr>

                                  <tr>
                                    <td>For grant</td>
                                    <td>ARC</td>
                                  </tr>

                                  <tr>
                                    <td>Accepted</td>
                                    <td>Y</td>
                                  </tr>

                                  <tr>
                                    <td>Invoiced</td>
                                    <td>Y</td>
                                  </tr>


                                  <tr>
                                    <td>Comment</td>
                                    <td>heheheheheh</td>
                                  </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
       {% endif %}

       {% if table == 'invoice' %}
     <!--table-->
                <div class="col-1">
                    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
                        <i class="fa fa-times"></i>
                        <div class="panel-heading templatemo-position-relative"><h2>Correct spreadsheet format</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tbody>
                                  <!--display data colum by column-->
                                  <tr>
                                    <td>Date</td>
                                    <td>14/07/2016</td>
                                  </tr>

                                  <tr>
                                    <td>Invoice</td>
                                    <td>726209</td>
                                  </tr>

                                  <tr>
                                    <td>Quote</td>
                                    <td>BioSci0347_v2</td>
                                  </tr>

                                  <tr>
                                    <td>Paid</td>
                                    <td>Y</td>
                                  </tr>

                                  <tr>
                                    <td>Staff</td>
                                    <td>Mahmoud Bassal_Prof Richard D'Andrea</td>
                                  </tr>

                                  <tr>
                                    <td>Project</td>
                                    <td>Mandarin shikimic acid analyses</td>
                                  </tr>

                                  <tr>
                                    <td>Service</td>
                                    <td>quant</td>
                                  </tr>

                                  <tr>
                                    <td>Instrument</td>
                                    <td>GCMS</td>
                                  </tr>

                                  <tr>
                                    <td>Person</td>
                                    <td>PROF RICHARD D'ANDREA</td>
                                  </tr>

                                  <tr>
                                    <td>Address</td>
                                    <td>Prince Songkla University, Thailand</td>
                                  </tr>

                                  <tr>
                                    <td>No.Sample</td>
                                    <td>23</td>
                                  </tr>

                                  <tr>
                                    <td>Category</td>
                                    <td>2</td>
                                  </tr>


                                  <tr>
                                    <td>Int/Ext</td>
                                    <td>Int</td>
                                  </tr>

                                   <tr>
                                    <td>User_define1</td>
                                    <td>UNI</td>
                                  </tr>

                                    <tr>
                                    <td>User_define2</td>
                                    <td>LIF/AGR</td>
                                  </tr>

                                    <tr>
                                    <td>Subtotal</td>
                                    <td>500</td>
                                  </tr>

                                <tr>
                                    <td>Reconcilliation</td>
                                    <td>500</td>
                                  </tr>

                                <tr>
                                    <td>Running Total</td>
                                    <td>500</td>
                                  </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
       {% endif %}



     {% endif %}



  {% endblock%}