
{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}

    <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
            <h2>PROJRCT INFORMATION &nbsp &nbsp &nbsp &nbsp(see all nodes: <a href="chart_page/">By node</a> or <a href="state_page/">By state</a>)</h2>
          </div>
        </div>
        <!--main_body_info_chosse_Murdoch-->
        <div class="templatemo-content-widget white-bg">
          <i class="fa fa-times"></i>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{% static 'images/murdoch.png' %}" alt="murdoch" height="180" width="180">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading text-uppercase">Murdoch University</h2>
              <br><br><br>
              <!--MU/projects_list/-->
              <a  href = "Murdoch/projects_list/" class="templatemo-blue-button">Project List</a>
              <a  href = "Murdoch/income_chart/" class="templatemo-blue-button">Income Chart</a>
              <a  href = "Murdoch/filter_infor/" class="templatemo-blue-button">Filtering Information</a>

            </div>
          </div>
        </div>

        <!--main_body_info_chosse_UWA-->
        <div class="templatemo-content-widget white-bg">
          <i class="fa fa-times"></i>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{% static 'images/UMA.png' %}" alt="UWA" height="180" width="180">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading text-uppercase">University of Western Australia</h2>
              <br><br><br>

              <a  href = "UWA/projects_list/" class="templatemo-blue-button">Project List</a>
              <a  href = "UWA/income_chart/" class="templatemo-blue-button">Income Chart</a>
              <a  href = "UWA/filter_infor/" class="templatemo-blue-button">Filtering Information</a>

            </div>
          </div>
        </div>

        <!--main_body_info_chosse_AWRI-->
        <div class="templatemo-content-widget white-bg">
          <i class="fa fa-times"></i>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{% static 'images/AWRI.png' %}" alt="AWRI" height="180" width="180">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading text-uppercase">Australain Wine Research Institute</h2>
              <br><br><br>

              <a  href = "AWRI/projects_list/" class="templatemo-blue-button">Project List</a>
              <a  href = "AWRI/income_chart/" class="templatemo-blue-button">Income Chart</a>
              <a  href = "AWRI/filter_infor/" class="templatemo-blue-button">Filtering Information</a>

            </div>
          </div>
        </div>

        <!--main_body_info_chosse_Unimelb-->
        <div class="templatemo-content-widget white-bg">
          <i class="fa fa-times"></i>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{% static 'images/unimelb.jpeg' %}" alt="Unimelb" height="180" width="180">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading text-uppercase">University of Melbourne</h2>
              <br><br><br>
              <a  href = "UM/projects_list/" class="templatemo-blue-button">Project List</a>
              <a  href = "UM/income_chart/" class="templatemo-blue-button">Income Chart</a>
              <a  href = "UM/filter_infor/" class="templatemo-blue-button">Filtering Information</a>
            </div>
          </div>
        </div>

        <!--main_body_info_chosse_UQ-->
        <div class="templatemo-content-widget white-bg">
          <i class="fa fa-times"></i>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{% static 'images/UQ.png' %}" alt="UQ" height="180" width="180">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading text-uppercase">University of Queensland</h2>
              <br><br><br>
              <a  href = "UQ/projects_list/" class="templatemo-blue-button">Project List</a>
              <a  href = "UQ/income_chart/" class="templatemo-blue-button">Income Chart</a>
              <a  href = "UQ/filter_infor/" class="templatemo-blue-button">Filtering Information</a>
            </div>
          </div>
        </div>


  {% endblock%}