{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
    <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
            <h2>Choose Filtering Information</h2>
          </div>
        </div>
        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">
          <form action="invoice_result" method="post">
            <!--Choice period-->
            <h2>Choose Period:</h2>
            <br><br>
            From: <input type="date" name="from_user_date" />
            &nbsp &nbsp
            To: <input type="date" name="to_user_date" />
            <br><br><br><br>
            <!--Choice Attributes Choice-->
            <h2>Choose Invoice_Status:</h2>
            <br><br>

            <div class="templatemo-block margin-bottom-5">
              <input type="checkbox" name="paid" id="c1" value="paid_va" checked="">
              <label for="c1" class="font-weight-400"><span></span>Paid</label>
            </div>
            <div class="templatemo-block margin-bottom-5">
              <input type="checkbox" name="unpaid" id="c2" value="unpaid_va">
              <label for="c2" class="font-weight-400"><span></span>Unpaid</label>
            </div>

            <br><br>
            <button type="submit" class="templatemo-blue-button">Search</button>
          </form>
        </div>


  {% endblock%}