{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
    <!--table-->
        <div class="col-1">
          <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
            <i class="fa fa-times"></i>
            <div class="panel-heading templatemo-position-relative"><h2 class="text-uppercase">Invoice Details</h2>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <tbody>
                  <!--display data colum by column-->
                  <tr>
                    <td>Invoice_ID</td>
                    <td>{{i.invoice_id}}</td>
                  </tr>

                  <tr>
                    <td>Invoice_Date</td>
                    <td>{{i.invoice_date}}</td>
                  </tr>

                  <tr>
                    <td>Invoice_Num</td>
                    <td>{{i.invoice_num}}</td>
                  </tr>

                  <tr>
                    <td>Bad_Debt</td>
                    <td>{{i.bad_debt}}</td>
                  </tr>

                  <tr>
                    <td>Quote</td>
                    <td>{{i.quote}}</td>
                  </tr>

                  <tr>
                    <td>Paid</td>
                    <td>{{i.paid}}</td>
                  </tr>

                  <tr>
                    <td>Staff</td>
                    <td>{{i.ma_staff}}</td>
                  </tr>

                  <tr>
                    <td>Invoice</td>
                    <td>{{i.project_invoice}}</td>
                  </tr>

                  <tr>
                    <td>Service_Type</td>
                    <td>{{i.service_type}}</td>
                  </tr>

                  <tr>
                    <td>Instrument</td>
                    <td>{{i.instrument}}</td>
                  </tr>

                  <tr>
                    <td>Person_Invoice</td>
                    <td>{{i.person_invoice}}</td>
                  </tr>

                  <tr>
                    <td>Address</td>
                    <td>{{i.address}}</td>
                  </tr>

                  <tr>
                    <td>No.Sample</td>
                    <td>{{i.no_sample_in}}</td>
                  </tr>

                  <tr>
                    <td>Category</td>
                    <td>{{i.category_in}}</td>
                  </tr>

                  <tr>
                    <td>Address</td>
                    <td>{{i.address}}</td>
                  </tr>

                  <tr>
                    <td>Int/Ext</td>
                    <td>{{i.int_ext_in}}</td>
                  </tr>

                  <tr>
                    <td>User_define1</td>
                    <td>{{i.user_define1_in}}</td>
                  </tr>

                  <tr>
                    <td>User_define2</td>
                    <td>{{i.user_define2_in}}</td>
                  </tr>

                  <tr>
                    <td>Subtotal</td>
                    <td>{{i.sub_total_in}}</td>
                  </tr>

                  <tr>
                    <td>Reconciliation</td>
                    <td>{{i.reconciliation}}</td>
                  </tr>

                  <tr>
                    <td>Running_Total</td>
                    <td>{{i.running_total}}</td>
                  </tr>



                </tbody>

              </table>
            </div>
          </div>
        </div>


  {% endblock%}