{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
     <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
            <h2>Choose Filtering Information</h2>
          </div>
        </div>
        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">

          <form action="../../{{node_name}}/filter_result" method="post">
            <!--Choice period-->
                        <input type="hidden" value="{{node_name}}">
            <h2>Choose Period:</h2>
            <br><br>
            From: <input type="date" name="from_user_date"  />
            &nbsp &nbsp
            To: <input type="date" name="to_user_date" />
            <br><br><br><br>
            <!--Choice Attributes Choice-->
            <h2>Choose Attributes:</h2>
            <br><br>
            <div class="col-lg-6 col-md-6 form-group">
              <div class="templatemo-block margin-bottom-5">
                <input type="checkbox" name="Category" id="c1" value="va_category" checked="">
                <label for="c1" class="font-weight-400"><span></span>Category</label>
              </div>
              <div class="templatemo-block margin-bottom-5">
                <input type="checkbox" name="User_Define1" id="c2" value="va_user_define1">
                <label for="c2" class="font-weight-400"><span></span>User_Define1</label>
              </div>
              <div class="templatemo-block margin-bottom-5">
                <input type="checkbox" name="User_Define2" id="c3" value="va_user_define2">
                <label for="c3" class="font-weight-400"><span></span>User_Define2</label>
              </div>
              <div class="templatemo-block margin-bottom-5">
                <input type="checkbox" name="State" id="c4" value="va_state">
                <label for="c4" class="font-weight-400"><span></span>state</label>
              </div>
            </div>
            <br><br><br><br><br><br>
            <button type="submit" class="templatemo-blue-button">Search</button>
          </form>
        </div>

  {% endblock%}