{% extends 'blank.html'%}
{% load staticfiles %}

  {% block content%}
    <!--main_body_info-->
        <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
          <i class="fa fa-times"></i>
          <div class="panel-heading templatemo-position-relative">
          <h2>Choose Filtering Information</h2>
          </div>
        </div>

        <!--main_body_info_chosse-->
        <div class="templatemo-content-widget white-bg">
          <h2> Choose Type of Information:</h2>
          <br><br>
          <a  href = "quote_grant" class="btn btn-default templatemo-view-img-btn">Details by "Grant"</a>
          <br><br><br>
                  <a  href = "quote_status" class="btn btn-default templatemo-view-img-btn">Project Status</a>
                  <br><br><br>
                  <a  href = "quote_company" class="btn btn-default templatemo-view-img-btn">Details by Company</a>
        </div>


  {% endblock%}